<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta name="Author" content="ihx">
    <meta name="keywords" content="ihx 博客 个人博客 web前端">
    <meta name="description" content="这里是ihx的个人博客">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
</head>